.allpdts-seller {
  overflow: hidden;
}
.allpdts-seller .allpdts_head p {
  text-align: center;
  font-size: 40px;
  color: rgb(61, 94, 167);
  text-decoration: underline 1px solid rgb(76, 100, 165);
}

.allpdts-seller .allpdts_detail h1 {
  margin-left: 25px;
}

@media screen and (max-width: 759px) {
  .allpdts-seller .allpdts_head p {
    font-size: 35px;
  }
  .allpdts-seller .allpdts_detail h1 {
    margin-left: 25px;
    font-size: 25px;
  }
}
