.editpdt {
  margin: auto;
  width: 80%;
  margin-top: 50px;
  padding: 10px;
  margin-bottom: 50px;
  max-width: 300px;
}

.editpdt .addpdtedit_head p {
  text-align: center;
  font-size: 35px;
  color: rgb(61, 94, 167);
  text-decoration: underline 1px solid rgb(76, 100, 165);
}
