.home-owner {
  overflow: hidden;
}

.home-owner .home-mic {
  margin: auto;
  width: 15%;
  margin-top: 50px;
  padding: 10px;
}
.home-owner .home-mic .mic {
  text-align: center;
}

.home-owner .allpdts-owner .allpdts-owner-head {
  text-align: center;
  font-size: 40px;
  color: rgb(61, 94, 167);
  text-decoration: underline 1px solid rgb(76, 100, 165);
}
.home-owner .allpdts-owner .pdt_details h1 {
  margin-left: 25px;
}

@media screen and (max-width: 759px) {
  .home-owner .allpdts-owner .allpdts-owner-head {
    font-size: 35px;
  }
}
