.owner-profile {
  margin-bottom: 50px;
}
.owner-profile .profiel_head {
  text-align: center;
  font-size: 40px;
  color: rgb(61, 94, 167);
  text-decoration: underline 1px solid rgb(76, 100, 165);
}

.owner-profile .profile_detail {
  width: 75%;
  margin: auto;
  margin-top: 50px;
  box-shadow: 4px 4px 10px #c7c2c2;
  padding-bottom: 25px;
}
.owner-profile .profile_detail .profile_img {
  margin: auto;
  padding: 15px 10px;
  margin-top: auto;
  margin-left: 150px;
}
.owner-profile .profile_detail .profile_img img {
  /* width: 85%; */
  height: 300px;
  margin-top: auto;
}
.owner-profile .profile_detail .detaisl {
  margin-top: 35px;
  padding-left: 15px;
}
.owner-profile .profile_detail .detaisl p {
  font-size: 20px;
}
.owner-profile .profile_detail .detaisl .edit-links .shop-owner {
  margin-right: 50px;
}

.owner-profile .delete_acc {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
.owner-profile .delete_acc .alert_delete {
  width: 72%;
  font-size: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 759px) {
  .owner-profile .profiel_head {
    font-size: 35px;
  }
}
